{% extends 'base.html.twig' %}

{% block title %}Hello GraficasController!{% endblock %}

{% block body %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/graficoDeTorta.css') }}">
{% endblock %}
<div class="container">
    <div class="row">
        <input class="col-md-6" type="button" value="Graficar torta" onclick="graficarTorta({{promedios}})">
        <input class="col-md-6" type="button" value="Graficar barras" onclick="graficarBarras()">
    </div>
    <h1>Bienvenido a {{ controller_name }}! ✅</h1>
</div> 
<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Promedio de notas por materia.
    </p>
</figure>


<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
<pre id="tsv" style="display:none">

Chrome 19.0    7.73%
Firefox 12    6.72%

</pre>


 {% block javascripts %}
         
    <script src="{{ asset('js/graficadeTorta.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    {{ parent() }}
 {% endblock %}

{% endblock %}
